
.clients .client-wrapper {
    --organic-arrow-thickness: 1px;
    --organic-arrow-height: 20px;
    --slider-height-percentage: 60%;
    --loader-bar-color: #851515;
    --loader-bar-height: 2px;
    --control-button-width: 10%;
    --control-button-height: 25%;
    --control-button-opacity: 0.5;
    --control-button-hover-opacity: 0.75;
    --control-button-background: transparent;
    --transition-bezier: cubic-bezier(0.5, 0.075, 0.25, 0.95);
    --slider-transition-duration: 575ms;
    --organic-arrow-color: transparent;
    --organic-arrow-border-radius: 0;
    --control-bullet-color: transparent;
    --control-bullet-active-color: transparent;
    --content-background-color: transparent;
    display: block;
    position: relative;
    width: 20%;
    max-width: 100%;
  }