.section-padding {
  padding: 80px 0;
}

.about p {
  color: #666;
}

.section-subtitle {
  font-size: 15px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  color: #666;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 6px;
  margin-bottom: 5px;
}

.section-subtitle span {
  color: #aa8453;
}

.section-title {
  font-size: 46px;
  font-family: "Gilda Display", serif;
  font-weight: 400;
  color: #222;
  position: relative;
  margin-bottom: 20px;
  line-height: 1.25em;
}

.section-title span {
  color: #fff;
}

.reservations {
  display: flex;
  align-items: center;
}
.reservations .icon {
  position: relative;
  top: 3px;
}
.reservations .icon span {
  font-size: 40px;
  color: #8e6d45;
}
.reservations .icon.color-1 span {
  font-size: 40px;
  color: #fff;
}
.reservations .text {
  margin-left: 10px;
}
.reservations .text p {
  font-size: 15px;
  margin: 0;
}
.reservations .text a {
  font-size: 27px;
  color: #8e6d45;
  letter-spacing: -1px;
}
.reservations .text a.color-1 {
  color: #fff;
}
