.section-padding {
  padding: 80px 0 40px;
}

.about p {
  color: #666;
}

.section-subtitle {
  font-size: 15px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  color: #666;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 6px;
  margin-bottom: 5px;
}

.section-title {
  font-size: 46px;
  letter-spacing: 0.2rem;
  font-family: "Gilda Display", serif;
  font-weight: 400;
  color: #222;
  position: relative;
  margin-bottom: 20px;
  line-height: 1.25em;
}

.about p {
  margin-bottom: 20px;
  padding-right: 40px;
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.75em;
  color: #666;
  opacity: 0.8;
}

.about .reservation {
  display: flex;
  align-items: center;
}

.about .reservation .icon {
  position: relative;
  top: 4px;
}

.about .reservation i {
  font-size: 60px;
  color: #8e6d45;
}

.about .reservation p {
  display: inline;
  line-height: 0;
  margin-bottom: 0;
}

.testimonials {
  background-image: url("../assets/img/slider/2.jpg");
  background-attachment: fixed;
  position: relative;
  background-size: cover;
}

.testimonials::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.3;
  background-color: #000;
}

/* Clients */
.clients {
  background-color: #fff;
}
