@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 15px;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.container {
  max-width: 1200px;
}

/* Star rating  */
.star-rating {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.9em;
  margin-right: 0.9em;
  margin-bottom: 2em;
  border-right: 0.3em solid transparent;
  border-bottom: 0.7em solid #e4a853;
  border-left: 0.3em solid transparent;
  /* Controlls the size of the stars. */
  font-size: 8px;
}

.star-rating:before,
.star-rating:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0.6em;
  left: -1em;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid #e4a853;
  border-left: 1em solid transparent;
  transform: rotate(-35deg);
}
.star-rating:after {
  transform: rotate(35deg);
}

.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.834);
  z-index: 99;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rdrDefinedRangesWrapper {
  display: none;
}

.banner {
  height: 60vh;
  background-image: url("./assets/img/slider/1.jpg");
  background-attachment: fixed;
  position: relative;
  background-size: cover;
}

.banner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.5;
  background-color: #000;
}

.section-padding {
  padding: 80px 0 40px;
}

.section-subtitle {
  font-size: 15px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  color: #666;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 6px;
  margin-bottom: 5px;
}

.section-title {
  font-size: 46px;
  letter-spacing: 0.2rem;
  font-family: "Gilda Display", serif;
  font-weight: 400;
  color: #222;
  position: relative;
  margin-bottom: 20px;
  line-height: 1.25em;
}